{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="card mt-5 p-3 d-flex m-auto w-50">
        <div class="row">
            <h3>Inscription</h3>
            {% if notification %}
                <div class="alert alert-info"> {{ notification }}</div>
                <hr>
            {% endif %}

            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
